apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-website
  namespace: student-apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-website
  template:
    metadata:
      labels:
        app: my-website
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: website-content
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
      volumes:
        - name: website-content
          configMap:
            name: my-website-config
